# Node modules
node_modules/

# Cypress videos and screenshots
cypress/videos/
cypress/screenshots/

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Env files
.env

package-lock.json